<header>
    <div class="imagenHeader">
        <img src="/images/Portada Mountain agent.png" alt="">
    </div>
    <div class="iconAnimateHeader">
        <img src="/images/Frame 4.png" alt="">
    </div>
    <p class="textHeader">
        Impulsaremos tu negocio con las mejores estrategias de diseño y posicionamiento web que hay en el
        mercado
    </p>
</header>
<img class="imgButtonHeader" src="/images/Frame 6.png" alt="">