<header>
    <nav class="navMain">
        <div class="imagenHeader">
            <img src="/images/Portada Mountain agent.png" alt="">
        </div>

        <li class="liNavMain">Contactanos</li>
        <li class="liNavMain">Portafolio</li>
        <li class="liNavMain">Lorem, ipsum</li>
        <li class="liNavMain">Lorem, ipsum.</li>
        <li class="liNavMain">Lorem, ipsum.</li>

    </nav>
    <div class="iconAnimateHeader">
        <img src="/images/Frame 4.png" alt="">
    </div>
    <p class="textHeader">
        ¡Necesitas una página web atractiva y profesional? ¡Contáctanos! Podemos ayudarte a llevar tu negocio al siguiente nivel. 
    </p>
</header>
