<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %> 
<body>
  <main>
    <%- include("partials/headerHome.ejs") %> 

    <h2 class="porqueNosotrosH3">
      多Porque Mountain Agent?
    </h2>
    <section class="porqueNosotros">
      <div class="porqueNosotrosDiv">
        <img class="porqueNosotrosImg" src="/images/Icon-Mountain-Agent.png" alt="">
        <p class="porqueNosotrosText">
          Te ofrecemos un sitio web totalmente personalizado y con disponibilidad para que todo quede hecho a tu manera, si no te gusta algo lo cambiamos en segundos. USamos las mejores estrategias para que tu sitio web sea totalmente visible y recomendado en los navegadores 
        </p>
      </div>
      <div class="porqueNosotrosOfrecimientos">
        <div class="dise単oPersonalizado">
          <h3 class="dise単oPersonalizadoH3">Dise単o totalmente personalizado</h3>
          
        </div>
      </div>

    </section>
  </main>
</body>
</html>