<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/headerHome.ejs") %>
      <main>


        <section class="porqueNosotrosSection">
          <div class="porqueNosotros">
            <div class="porqueNosotrosDiv">
              <img class="porqueNosotrosImg" src="/images/Icon.png" alt="">
              <p class="porqueNosotrosText">
                Bienvenido a Mountain Agent, una empresa desarrolladora de sitios web de alta calidad. Somos una startup
                innovadora y nos enorgullece ofrecer un servicio personalizado y eficiente. Nos aseguramos de comprender
                las necesidades y deseos de nuestros clientes y trabajamos de cerca con ellos para desarrollar un sitio
                web que cumpla sus expectativas. ¡Contáctanos para más información y para comenzar a desarrollar tu
                sitio
                web con Mountain Agent! Estamos seguros de que te encantará trabajar con nuestro equipo altamente
                capacitado y nuestro enfoque en la satisfacción del cliente.
              </p>
            </div>
            <h2 class="porqueNosotrosH3">
              ¿Porque Mountain Agent?
            </h2>
            <div class="porqueNosotrosOfrecimientos">
              <div class="diseñoPersonalizado">
                <h3 class="diseñoPersonalizadoH3">Diseño totalmente personalizado</h3>
                <img class="diseñoPersonalizadoImg" src="/images/grafico-digital.png" alt="">
                <p class="diseñoPersonalizadoP">
                  En Mountain Agent, ofrecemos diseños personalizados para tu empresa o proyecto. Te ayudaremos a crear
                  una imagen única y atractiva. Explora nuestro sitio web para ver
                  nuestros trabajos y obtener más información. ¡Estamos deseando trabajar contigo!
              </div>
              <div class="analisis">
                <h3 class="analisisH3">Análisis y seguimiento del sitio web</h3>
                <img class="analisisImg" src="/images/analitica.png" alt="">
                <p class="analisisP">
                  Te ofrecemos un tablero de estadisticas para que constantemente puedas ver el analisis y seguimiento
                  de
                  tu web. El análisis y seguimiento del sitio web son esenciales para entender su rendimiento y mejorar
                  sus áreas débiles. Ayuda a detectar problemas técnicos y a garantizar un funcionamiento óptimo.
                </p>
              </div>
              <div class="optimizacion">
                <h3 class="optimizacionH3">Optimización del sitio web</h3>
                <img class="optimizacionImg" src="/images/www.png" alt="">
                <p class="optimizacionP">
                  Optimizamos tu sitio web para que sea de los mas posicionados a la hora de hacer busquedas
                  relacionadas
                  con el mismo, todo por medio del SEO. El SEO ayuda a mejorar la visibilidad en motores de búsqueda y
                  aumentar el tráfico orgánico. Nos aseguraremos de que el sitio web tenga una buena estrategia de SEO.
                </p>
              </div>
              <div class="actualizaciones">
                <h3 class="actualizacionesH3">Actualizaciones en tu sitio web</h3>
                <img class="actualizacionesImg" src="/images/actualizar.png" alt="">
                <p class="actualizacionesP">
                  Podemos contantemente hacer actualizaciones a tu sitio web. Un sitio web desactualizado puede dar una
                  mala impresión y afectar la experiencia del usuario. Un sitio web actualizado puede mejorar la
                  experiencia del usuario y aumentar el tráfico del sitio.
                </p>
              </div>
            </div>

        </section>

        <h2 class="empresasH3"> Nuestros clientes</h2>
        <section class="empresas-section">
          <div class="empresas">
            <div class="animacionUno">
              <div class="orquideasSM">
                <p class="orquideasSM_p">Orquideas San Martin
                  <a class="orquideasSM_a" target="_blank" href="https://orquideassanmartin.onrender.com">Visitar</a>
                </p>
              </div>
            </div>
            <div class="animacionDos">
              <div class="sanJR">
                <p class="sanJR_p">San Jose Reposteria
                  <a class="sanJR_a" target="_blank" href="https://sanjosereposteria.onrender.com">Visitar</a>
                </p>

              </div>
            </div>
          </div>
          </div>
        </section>
        <h2 class="planesH2">Te ofrecemos</h2>
        <section class="planes">
          <div class="planBasico">
            <h3 class="planBasicoH3">PERSONAL</h3>
            <ul class="basicoUl">
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Listado de productos</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Creacion de productos</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Contactanos</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Dominio personalizado</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Crear, editar y eliminar productos </li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Optimizacion SEO</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Tablero de estadisticas</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i> Carrito de compras</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i> Factura online</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i> Pasarela de compras</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Chat de whatsapp</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i></i> Animaciones</li>
            </ul>
            <p class="precioBasico">$900.000</p>
          </div>
          <div class="planMedio">
            <h3 class="planMedioH3">PREMIUM</h3>
            <ul class="medioUl">
              <li class="medioLi"><i class="fa-solid fa-check"></i> Listado de productos</li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Creacion de productos</li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Contactanos</li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Dominio personalizado</li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Crear, editar y eliminar productos </li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Optimizacion SEO</li>
              <li class="medioLi"><i class="fa-solid fa-check"></i> Tablero de estadisticas</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Carrito de compras</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Factura online</li>
              <li class="basicoLi"><i class="fa-solid fa-x"></i> Pasarela de compras</li>
              <li class="medioLi"><i class="fa-solid fa-x"></i></i> Chat de whatsapp</li>
              <li class="medioLi"><i class="fa-solid fa-x"></i></i> Animaciones</li>
            </ul>
            <p class="precioMedio">$1´500.000</p>
            <div class="masVendido">
              <p class="masVendidoP">MAS VENDIDO</p>
            </div>
          </div>
          <div class="planPro">
            <h3 class="planProH3">BUSINESS</h3>
            <ul class="proUl">
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Listado de productos</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Creacion de productos</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Contactanos</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Dominio personalizado</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Crear, editar y eliminar productos </li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Optimizacion SEO</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Tablero de estadisticas</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Carrito de compras</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Factura online</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Pasarela de compras</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Chat de whatsapp</li>
              <li class="basicoLi"><i class="fa-solid fa-check"></i> Animaciones</li>
            </ul>
            <p class="precioPro">$1´900.000</p>
          </div>
        </section>
      </main>
      <%- include("partials/footer.ejs") %>