<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/headerHome.ejs") %>
    <main>

        <h2 class="porqueNosotrosH3">
          ¿Porque Mountain Agent?
        </h2>
        <section class="porqueNosotros">
          <div class="porqueNosotrosDiv">
            <img class="porqueNosotrosImg" src="/images/Icon.png" alt="">
            <p class="porqueNosotrosText">
              Bienvenido a Mountain Agent, una empresa desarrolladora de sitios web de alta calidad. Somos una startup innovadora y nos enorgullece ofrecer un servicio personalizado y eficiente. Nos aseguramos de comprender las necesidades y deseos de nuestros clientes y trabajamos de cerca con ellos para desarrollar un sitio web que cumpla sus expectativas. ¡Contáctanos para más información y para comenzar a desarrollar tu sitio web con Mountain Agent! Estamos seguros de que te encantará trabajar con nuestro equipo altamente capacitado y nuestro enfoque en la satisfacción del cliente.
            </p>
          </div>
          <div class="porqueNosotrosOfrecimientos">
            <div class="diseñoPersonalizado">
              <h3 class="diseñoPersonalizadoH3">Diseño totalmente personalizado</h3>
              <img class="diseñoPersonalizadoImg" src="/images/grafico-digital.png" alt="">
              <p class="diseñoPersonalizadoP">
                En Mountain Agent, ofrecemos diseños personalizados para tu empresa o proyecto. Con nuestra experiencia y habilidades, te ayudaremos a crear una imagen única y atractiva. Explora nuestro sitio web para ver nuestros trabajos y obtener más información. ¡Estamos deseando trabajar contigo!            </div>
            <!-- <div class="posicionamiento">
              <h3 class="posicionamientoH3">Diseño totalmente personalizado</h3>
              <img class="posicionamientoImg" src="/images/grafico-digital.png" alt="">
              <p class="posicionamientoP">
                Escoje tu mismo tu diseño, personaliza tu sitio web como tu más desees, cuentanos tu idea y nosotros la
                haremos realidad
              </p>
            </div>
            <div class="TableroDeEstadisticas">
              <h3 class="TableroDeEstadisticasH3">Diseño totalmente personalizado</h3>
              <img class="TableroDeEstadisticasImg" src="/images/grafico-digital.png" alt="">
              <p class="TableroDeEstadisticasP">
                Escoje tu mismo tu diseño, personaliza tu sitio web como tu más desees, cuentanos tu idea y nosotros la
                haremos realidad
              </p>
            </div> -->
            <div class="diseñoPersonalizado">
              <h3 class="diseñoPersonalizadoH3">Diseño totalmente personalizado</h3>
              <img class="diseñoPersonalizadoImg" src="/images/grafico-digital.png" alt="">
              <p class="diseñoPersonalizadoP">
                Escoje tu mismo tu diseño, personaliza tu sitio web como tu más desees, cuentanos tu idea y nosotros la
                haremos realidad
              </p>
            </div>
          </div>

        </section>
    </main>
  </body>

</html>