<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/headerHome.ejs") %>
      <main>

        <h2 class="porqueNosotrosH3">
          ¿Porque Mountain Agent?
        </h2>
        <section class="porqueNosotros">
          
          <div class="porqueNosotrosDiv">
            <img class="porqueNosotrosImg" src="/images/Icon.png" alt="">
            <p class="porqueNosotrosText">
              Bienvenido a Mountain Agent, una empresa desarrolladora de sitios web de alta calidad. Somos una startup
              innovadora y nos enorgullece ofrecer un servicio personalizado y eficiente. Nos aseguramos de comprender
              las necesidades y deseos de nuestros clientes y trabajamos de cerca con ellos para desarrollar un sitio
              web que cumpla sus expectativas. ¡Contáctanos para más información y para comenzar a desarrollar tu sitio
              web con Mountain Agent! Estamos seguros de que te encantará trabajar con nuestro equipo altamente
              capacitado y nuestro enfoque en la satisfacción del cliente.
            </p>
          </div>
          <div class="porqueNosotrosOfrecimientos">
            <div class="diseñoPersonalizado">
              <h3 class="diseñoPersonalizadoH3">Diseño totalmente personalizado</h3>
              <img class="diseñoPersonalizadoImg" src="/images/grafico-digital.png" alt="">
              <p class="diseñoPersonalizadoP">
                En Mountain Agent, ofrecemos diseños personalizados para tu empresa o proyecto. Te ayudaremos a crear una imagen única y atractiva. Explora nuestro sitio web para ver
                nuestros trabajos y obtener más información. ¡Estamos deseando trabajar contigo!
            </div>
            <div class="analisis">
              <h3 class="analisisH3">Análisis y seguimiento del sitio web</h3>
              <img class="analisisImg" src="/images/analitica.png" alt="">
              <p class="analisisP">
                El análisis y seguimiento del sitio web son esenciales para entender su rendimiento y mejorar sus áreas débiles. Ayuda a detectar problemas técnicos y a garantizar un funcionamiento óptimo.
              </p>
            </div>
            <div class="optimizacion">
              <h3 class="optimizacionH3">Optimización del sitio web</h3>
              <img class="optimizacionImg" src="/images/www.png" alt="">
              <p class="optimizacionP">
                El SEO es esencial para el éxito en línea de un sitio web. Ayuda a mejorar la visibilidad en motores de búsqueda y aumentar el tráfico orgánico. Debe asegurarse de que el sitio web tenga una buena estrategia de SEO en su lugar.              </p>
            </div> 
            <div class="actualizaciones">
              <h3 class="actualizacionesH3">Actualizaciones en tu sitio web</h3>
              <img class="actualizacionesImg" src="/images/actualizar.png" alt="">
              <p class="actualizacionesP">
                Un sitio web desactualizado puede dar una mala impresión y afectar la experiencia del usuario. Un sitio web actualizado puede mejorar la experiencia del usuario y aumentar el tráfico del sitio.
              </p>
            </div>
          </div>

        </section>

        <h2 class="empresasH3"> Nuestros clientes</h2>
        <section class="empresas">
          <div class="p"></div>
          <div class="o"></div>
          <div class="animacionUno">
            <div class="orquideasSM">
              <p class="orquideasSM_p">Orquideas San Martin
                <a class="orquideasSM_a" target="_blank" href="https://orquideassanmartin.onrender.com">Visitar</a>
              </p>  
            </div>
          </div>
          <div class="animacionDos">
            <div class="sanJR">
              <p class="sanJR_p">San Jose Reposteria
                <a class="sanJR_a" target="_blank" href="https://sanjosereposteria.onrender.com">Visitar</a>
              </p>
              
            </div>
          </div>
        </section>

        
      </main>
  </body>

</html>