* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* --- SECCION PORQUE NOSOTROS --- */

.porqueNosotrosH3 {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.porqueNosotrosDiv {
    position: absolute;
    z-index: 10;
    top: 552px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 60px 10px rgb(35, 35, 35);
    background-color: #0415B5;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.porqueNosotrosImg {
    width: 40%;
}

.porqueNosotrosText {
    width: 60%;
    color: #fff;
}

.porqueNosotrosOfrecimientos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

/* --- TARJETAS DE PORQUE NOSOTROS --- */

.diseñoPersonalizado {
    border: 3px solid rgb(206, 206, 206);
    border-radius: 20px;
    margin: 20vh 10px 10px 10px;
    text-align: center;
    min-height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- IMAGEN DE TARJETA DE DISEÑO PERSONALIZADO --- */
.diseñoPersonalizadoImg {
    width: 60%;
    padding: 15% 0px;
}

/* --- TEXTO DE DISEÑO PERSONALIZADO --- */
.diseñoPersonalizadoP {
    padding: 0px 10px;
    text-align: justify;
}