* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

main {
    max-width: 1200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* --- SECCION PORQUE NOSOTROS --- */


.porqueNosotrosH3 {
    margin: 331px 0px 0px 0px;
    text-align: center;
}

.porqueNosotrosDiv {
    position: absolute;
    z-index: 10;
    top: 552px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 40px 0px rgb(35, 35, 35);
    background-color: #0415B5;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}

.porqueNosotrosImg {
    width: 40%;
}

.porqueNosotrosText {
    width: 60%;
    color: #fff;
    font-weight: 500;
}

.porqueNosotrosOfrecimientos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

/* --- TARJETAS DE PORQUE NOSOTROS --- */

.diseñoPersonalizado,
.actualizaciones,
.optimizacion,
.analisis {
    border: 3px solid rgb(206, 206, 206);
    border-radius: 20px;
    margin: 60px 10px 10px 10px;
    text-align: center;
    min-height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


/* --- IMAGEN DE TARJETA DE DISEÑO PERSONALIZADO --- */
.diseñoPersonalizadoImg,
.actualizacionesImg,
.optimizacionImg,
.analisisImg {
    width: 141px;
    height: 141px;
    padding: 15% 0px;
    margin-left: auto;
    margin-right: auto;
}

/* --- TEXTO DE DISEÑO PERSONALIZADO --- */
.diseñoPersonalizadoP,
.actualizacionesP,
.optimizacionP,
.analisisP {
    padding: 0px 10px;
    text-align: justify;
}


/* --- EMPRESAS CON LAS QUE HEMOS TRABAJADO --- */

.empresasH3 {
    text-align: center;
    margin: 30px 0px;
}

.p {
    height: 350px;
    width: 500px;
    background-color: #00000073;
    z-index: -1;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: -540px;
    position: absolute;
}

.o {
    height: 350px;
    width: 500px;
    background-color: #00000073;
    z-index: -2;
    border-radius: 20px;
    margin-top: 230px;
    margin-left: 540px;
    position: absolute;
}

.empresas {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
}

.animacionUno,
.animacionDos {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.animacionDos {
    align-items: flex-end;
}

/* --- ORQUIDEAS SAN MARTIN --- */
.orquideasSM {
    background-image: url("../images/OrquideasSM.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background-position: center;
    text-align: center;
    color: #fff;
    height: 350px;
    width: 500px;
}

.orquideasSM_p {
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.479);
    width: 80%;
    height: 80%;
    text-align: center;
    opacity: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: .9s;
}

.orquideasSM:hover .orquideasSM_p {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.orquideasSM_a {
    color: #6aff00;
    text-decoration: none;
}

/* --- SAN JOSE REPOSTERIA --- */

.sanJR {
    background-image: url("../images/SanJR.png");
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    text-align: center;
    color: #fff;
    height: 350px;
    width: 500px;
}

.sanJR_p {
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.479);
    width: 80%;
    border-radius: 20px;
    height: 80%;
    text-align: center;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: .9s;
}

.sanJR:hover .sanJR_p {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.sanJR_a {
    color: #6aff00;
    text-decoration: none;
}